{% extends "main.html" %}
{% block content %}
      
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {%if messages %}
          {%for category, message in messages %}
          <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>
              <b></b> {{ message }}</span>
          </div>
          {%endfor%}
    {%endif %}
  {%endwith%}
</div>
        
          <!-- <table start></table> -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title ">All Expenses</h4>
                      <p class="card-category"> cognate Sacco</p>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <tr align="center">
                              <th>Expense ID</th>
                              <th>Date</th>
                              <th>Expense</th>
                              <th>Total Cost</th>
                              <th align="center"></th>
                            </tr> 
                            </thead>		
                            <tbody>
                           {% for expense in expenses.items %}
                           <tr>
                            <tr align="center">
                              <td>{{expense.id}}</td>
                              <td>{{expense.created_on}}</td>
                              <td>{{expense.expensename}}</a></td>
                            
                              <td>{{expense.amount}}</td>
                              <td><a href="{{url_for('editexpe',expense_id=expense.id)}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                              <td>
                                <a href="{{url_for('deleteExpense',expense_id=expense.id)}}">
                                 <button type="button" class="btn btn-delete">
                                 <span class="btn-icon"><i class="glyphicon glyphicon-trash"></i></span>Delete</button></a>
                             </td>
                              </tr>
                           </tr>
                                
                              {% endfor %}
                              </tbody>

                          </table>
                          <div class="row">
                            <div class="col col-xs-4">Page 1 of 5
                            </div>
                            <div class="col col-xs-8">
                              <ul class="pagination justify-content-end">
                            {% for page_num in expenses.iter_pages() %}
                                 {% if page_num %}
                            
                              <li><a href="{{url_for('allexpenses',page=page_num)}}">{{ page_num }}</a></li>
                              
                              {% else %}
                              ...
                              {%endif%}
                            {%endfor%}
                            </ul>
                            
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endblock %}