{% extends "main.html" %}
{% block content %}

      <div class="content">
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {%if messages %}
                  {%for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="material-icons">close</i>
                    </button>
                    <span>
                      <b></b> {{ message }}</span>
                  </div>
                  {%endfor%}
            {%endif %}
          {%endwith%}
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Total Members</p>
                  <h3 class="card-title">{{totalmembers}}
                    <small></small>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons text-danger">warning</i> -->
                    <a href="">...</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Contributions</p>
                  <h3 class="card-title">ksh{{totalcontri}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
            <!-- statitics -->
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                  </div>
                  <p class="card-category">Total Expences</p>
                  <h3 class="card-title">Ksh{{totalexp}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">euro_symbol</i>
                    <!-- <i class="material-icons">store</i> -->
                  </div>
                  <p class="card-category">Total Savings</p>
                  <h3 class="card-title">ksh{{totalsave}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
            <!--end  statitics -->
          <!-- start table -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title ">All Memembers Table</h4>
                      <p class="card-category"> cognate Sacco</p>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <tr align="center">
                            <th>
                              ID
                            </th>
                            <th>
                              Registration Date
                            </th>
                            <th>
                              Member Name
                            </th>
                            <th>
                              PhoneNumber
                            </th>
                            <th >
                              Total Contribution
                            </th>
                            <th >
                              Action
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                            {% for member in members.items%}
                            <tr>
                              <tr align="center">
                                <td>{{member.id}}</td>
                                <td>{{member.created_on}}</td>
                                <td>{{member.membername}}</td>
                                <td>{{member.memberphone}}</td>
                                <td>{{member.amount}}</td>
                                <td> 
                                  <a href="{{url_for('editmemb',member_id=member.id)}}"><button type="button" class="btn btn-warning">Edit</button></a>
                                  <a href="{{url_for('showContributions',member_id=member.id)}}"><button type="button" class="btn btn-success">Transactions</button></a>
                                  {% if g.user.role == 'Admin' %}
                                  <a href="{{url_for('deleteMember',member_id=member.id)}}"><button type="button" class="btn btn-danger">Delete</button></a>
                                      {% endif %}
                                  </td>
                                </tr>
                                </tr>
                              {% endfor %}
                            
                          </tbody>
                        </table>
                        <div class="row">
                          <div class="col col-xs-4">Page 1 of 5
                          </div>
                          <div class="col col-xs-8">
                          <ul class="pagination hidden-xs pull-right">
                          {% for page_num in members.iter_pages() %}
                               {% if page_num %}
                            <li><a href="{{url_for('dashboard',page=page_num)}}">{{ page_num }}</a></li>
                            {% else %}
                            ...
                            {%endif%}
                          {%endfor%}
                          </ul>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
            <!-- end table -->
            {% endblock %}
